/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* This hides all scrollbars */
  background-color: #05050c; /* Your dark background color */
  font-family: 'Poppins', sans-serif;
}
